body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* HEADER */

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

.nav__links {
    display: flex;
    gap: 2rem;
}

.nav__link {
    color: #000;
    font-size: 1.125rem;
    font-weight: 500;
}